body
  {
    background-color: lightblue;
  }

a:link, a:visited
  {
    background-color:lightblue;
    color: white;
    text-decoration-style:;
    padding: 16px;
    text-align: center;
    display: in line-block;
    font-family: chopper;
  }


a:hover 
  {
    background-color: purple;
    color:pink;
    text-decoration: underline;
  }
  
a:active
  { 
    background-color: purple;
    color: green;
    text-decoration: underline;
  }
 